{% extends "base.html" %}

{% block content %}
{% if request.session.user_id %}
<p>Welcome, {{ username }}</p>
{% endif %}
<form method="post" action="{% url 'create_message' %}">
  {% csrf_token %}
    <label>Send a message</label>
    <input type="text" required placeholder="Enter a message" name="message" value="{{message}}" class="form-control">
  {{ form }}
  <button type="submit">Send message</button>
</form>

{% if request.session.is_admin %}
<button>admin</button>
{% endif %}


<h2>Current messages:</h2>
{% for message in messages %}
  <p>{{ message.user_id.id }} {{ message }}</p>
{% endfor %}

{% endblock%}